<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>

            <h1> {{ list_object.name }}</h1>
            <p><a href="{% url 'edit_todo_list' list_object.id %}">Edit</p>
            <p><a href="{% url 'todo_list_delete' list_object.id %}">Delete</a></p>

            <h2>Tasks</h2>
        </div>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in list_object.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'edit_todo_item' item.id %}">{{ item.task }}</a>
                        </td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}

                </tbody>

        </div>
    </main>

</body>
</html>
